body {font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;}

.bs-docs-section > p, .bs-docs-section > ul, .bs-docs-section > ol, .bs-callout > p, .bs-callout > ol, .bs-callout > ul {line-height: 1.75;margin-bottom: 1.2em;}
.bs-callout *:last-child {margin-bottom: 0;}

/*组件elevator样式*/
.elevator_item {width: 60px;height: 60px;position: fixed;right: 50%;bottom: 150px;display: none;}
.elevator {display: block;width: 60px;height: 60px;margin-left: 30px;background: #444 url(../imgs/icon_top.png) center no-repeat;border-radius: 3px;}
.elevator:hover {background-color: rgba(0, 0, 0, .7);cursor: pointer;}

/*组件mailto样式*/
.mailto_item {width: 130px;position: fixed;right: 50%;bottom: 150px;display: none;}
.mailto_item>a{display: block;width: 130px;margin-left: 65px;}

/*首页外页面顶部导航去除底部margin*/
nav.navbar.navbar-inverse{margin-bottom: 0;}

